@font-face {
    font-family: 'Manrope';
    src: url('./fonts.css/Manrope-Bold.woff2') format('woff2'),
        url('./fonts.css/Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./fonts.css/Manrope-Light.woff2') format('woff2'),
        url('./fonts.css/Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./fonts.css/Manrope-Regular.woff2') format('woff2'),
        url('./fonts.css/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./fonts.css/Manrope-SemiBold.woff2') format('woff2'),
        url('./fonts.css/Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./fonts.css/Manrope-ExtraLight.woff2') format('woff2'),
        url('./fonts.css/Manrope-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./fonts.css/Manrope-Medium.woff2') format('woff2'),
        url('./fonts.css/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./fonts.css/Manrope-ExtraBold.woff2') format('woff2'),
        url('./fonts.css/Manrope-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

