* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin-inline: auto;
  padding-inline: 24px;
}

body {
  font-family: Manrope, sans-serif;
  color: #838383;
  font-weight: 500;
  font-size: 16px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.btn {
  display: inline-block;
  padding: 8px 24px;
  font-size: 16px;
  border-radius: 300px;
  font-weight: 500;
  white-space: nowrap;
  border: 1px solid #212121;
  text-align: center;
}

.btn-primary {
  background-color: #212121;
  color: white;
  transition: all 0.3s ease-in-out;
}

.btn-secondery {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover,
.btn-secondery:hover {
  transform: scale(0.95);
}

header {
  padding-block: 24px;
  background-color: white;
}

.navebar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navebar-left-col {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navebar-list-item {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.drop-down-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.menu-link-text {
  text-transform: capitalize;
  color: #212121;
}

.navebar-logo {
  width: 100%;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.navebar-logo:hover {
  transform: scale(0.92);
}

.drop-down-icone {
  color: #212121;
  width: 16px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.drop-down-icone svg {
  color: currentColor;
  width: 100%;
  height: 100%;
}

.drop-down-wrapper:hover .drop-down-icone {
  transform: rotate(180deg);
}

.navebar-list-item li .menu-link-text:hover,
.drop-down-wrapper:hover,
.navebar-count-text {
  transition: all 0.3s ease-in-out;
}

.navebar-list-item > li .menu-link-text:hover,
.drop-down-wrapper:hover,
.navebar-count-text:hover {
  opacity: 60%;
}

.navebar-count-text {
  white-space: nowrap;
}

.toggel-btn {
  background-color: black;
  width: 40px;
  height: 40px;
  display: block;
  color: white;
  border-radius: 10px;
  padding: 2px;
  display: none;
}

.toggel-btn svg {
  color: currentColor;
  width: 100%;
  height: 100%;
}

.navebar-right-col {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navebar-list-item li:last-child:not(.mega-menu-list-item li) {
  display: none;
}

.drop-down-nemu {
  position: relative;
  z-index: 10;
}

.mega-menu-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 32px;
  margin-top: 16px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 16px;
  transform: translate(-30%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.drop-down-nemu:hover .mega-menu-wrapper {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.leftcol-mega-menu-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.mega-menu-title {
  margin-bottom: 20px;
  color: #212121;
  font-size: 18px;
  font-weight: 500;
}

.dropdown-link {
  color: #838383;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.dropdown-link:hover {
  color: #212121;
}

.mega-menu-list-item {
  list-style: none;
}

.mega-menu-list-item li {
  white-space: nowrap;
}

.mega-menu-list-item li:not(:last-child) {
  padding-bottom: 16px;
}

.generic-hamburger {
  outline: none;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.generic-hamburger:hover {
  background: #000; /* hover feel */
}

.generic-hamburger__checkbox {
  position: absolute;
  inset: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

/* bars */
.generic-hamburger__bar {
  position: absolute;
  width: 60%;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
  left: 20%;
}

.generic-hamburger__bar:nth-of-type(1) {
  top: 12px;
}
.generic-hamburger__bar:nth-of-type(2) {
  top: 20px;
}
.generic-hamburger__bar:nth-of-type(3) {
  top: 28px;
}

/* Checked (X) state */
.generic-hamburger__checkbox:checked ~ .generic-hamburger__bar:nth-of-type(1) {
  transform: rotate(45deg);
  top: 20px;
}
.generic-hamburger__checkbox:checked ~ .generic-hamburger__bar:nth-of-type(2) {
  opacity: 0;
}
.generic-hamburger__checkbox:checked ~ .generic-hamburger__bar:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 20px;
}

@media only screen and (max-width: 1023.99px) {
  .toggel-btn {
    display: flex;
  }

  .toggel-btn-close,
  .toggel-btn-default {
    transition: all 0.3s ease-in-out;
  }

  .toggel-btn-close {
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }

  .toggel-btn-close.btn-active {
    opacity: 1;
    position: static;
    visibility: visible;
  }

  .toggel-btn-default.btn-active {
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }

  header {
    position: relative;
  }

  .navebar-list-item {
    flex-direction: column;
    align-items: start;
    background-color: white;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    padding: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.089);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: all 0.3s ease-in-out;
  }

  .show-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }

  .navebar-left-col {
    justify-content: space-between;
    width: 100%;
  }

  .navebar-wrapper {
    gap: 16px;
  }

  .mega-menu-main-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s ease;
  }

  .mega-menu-wrapper {
    transform: translate(0%);
    border: 1px solid transparent;
    border-radius: 0;
    position: static;
    padding-block: 0;
    border: 0;
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    padding-inline: 0;
    overflow: hidden;
  }

  .drop-down-nemu:hover .mega-menu-main-wrapper {
    grid-template-rows: 1fr;
  }

  .drop-down-nemu:hover .mega-menu-wrapper {
    grid-template-rows: 1fr;
    padding-block: 32px;
    margin-top: 16px;
  }
}

@media only screen and (max-width: 766.99px) {
  .mega-menu-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .leftcol-mega-menu-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 32px;
  }

  .drop-down-nemu:hover .mega-menu-wrapper {
    padding-block: 10px;
  }
}

@media only screen and (max-width: 557.99px) {
  .navebar-right-col .btn {
    display: none;
  }

  .navebar-list-item li:last-child:not(.mega-menu-list-item li) {
    display: block;
    width: 100%;
  }

  .leftcol-mega-menu-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .navebar-list-item li .btn-primary {
    width: 100%;
    display: block;
    text-align: center;
  }
}

/* hero banner */

.hero-banner-sec {
  max-width: 1420px;
  position: relative;
  padding-top: 72px;
  padding-bottom: 64px;
  min-height: 970px;
  display: flex;
  margin-inline: auto;
}

.hero-banner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  height: 100%;
}

.hero-banner-img {
  position: absolute;
  border-radius: 16px;
  overflow: hidden;
  inset: 0;
  width: 100%;
  height: 100%;
}

.hero-banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.hero-banner-content {
  max-width: 560px;
}

.banner-title {
  color: #212121;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.115em;
  margin-bottom: 16px;
}

.banner-dec {
  color: #838383;
  line-height: 1.5em;
  font-weight: 500px;
}

.hero-banner-overlay {
  position: absolute;
  inset: 0;
}

.banner-filterbar-wrapper {
  max-width: 1106px;
  padding: 16px 32px;
  border-radius: 100px;
  background-color: #fff;
  width: 100%;
  margin-inline: auto;
  display: flex;
  min-height: 74px;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.banner-filterbar-wrapper form {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
  min-width: 375px;
}

.input-icone svg {
  width: 16px;
  height: 24px;
  vertical-align: middle;
}

.banner-filterbar-wrapper form input[type="search"] {
  outline: none;
  border: none;
  width: 100%;
  color: #838383;
  font-size: 16px;
}

.banner-filterbar-wrapper form input[type="search"]::placeholder {
  color: #838383;
  font-size: 16px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.banner-filterbar-wrapper form input[type="button"] {
  cursor: pointer;
}

.properties-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.properties-dropdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 212px;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
}

.properties-dropdown-wrapper:hover .drop-down-icone {
  transform: rotate(180deg);
}

.properties-list-item {
  position: absolute;
  top: 100%;
  opacity: 0;
  background-color: white;
  padding: 24px;
  border: 1px solid #eee;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  z-index: 10;
  width: 100%;
  min-width: 212px;
  list-style: none;
  margin-top: 10px;
  transform: translateY(10%);
  visibility: hidden;
  transition: all 0.5s ease;
}

.properties-dropdown-wrapper:hover .properties-list-item {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.properties-list-item .properties-link-text {
  color: #212121;
  font-weight: 500;
  transition: all 0.5s ease;
}

.properties-list-item .properties-link-text:hover {
  opacity: 0.5;
}

.properties-dropdown-wrapper:not(:last-child) {
  border-right: 1px solid #eee;
  padding-right: 32px;
}

.drop-down-icone svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.drop-down-icone svg {
  width: 16px;
  height: 24px;
  vertical-align: middle;
}

.properties-title {
  display: block;
  color: #838383;
}

@media only screen and (max-width: 1023.99px) {
  .hero-banner-sec {
    min-height: 800px;
  }

  .banner-title {
    font-size: 48px;
  }

  .banner-filterbar-wrapper {
    flex-wrap: wrap;
    border-radius: 16px;
    gap: 20px;
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .banner-filterbar-wrapper {
    max-width: 674px;
  }

  .properties-dropdown-wrapper {
    max-width: 176px;
  }

  .banner-filterbar-wrapper form {
    min-width: 100%;
  }
}

@media only screen and (max-width: 766.99px) {
  .hero-banner-sec {
    min-height: 700px;
    padding-block: 48px;
  }

  .banner-title {
    font-size: 40px;
  }

  .hero-banner-overlay {
    background-image: linear-gradient(#ffffffbf 25%, #0000 75%);
  }

  .properties-dropdown-wrapper {
    max-width: 100%;
  }

  .properties-dropdown-wrapper:not(:last-child) {
    padding-right: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    border-right: 0;
  }

  .properties-list-item {
    margin-top: 0;
    min-width: 0;
    transform: translateY(0px);
  }

  .properties-dropdown-wrapper:hover .properties-list-item {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 557.99px) {
  .banner-filterbar-wrapper form {
    flex-wrap: wrap;
  }

  .banner-filterbar-wrapper form input[type="search"] {
    width: auto;
    flex-grow: 1;
  }

  .banner-filterbar-wrapper form input[type="button"] {
    width: 100%;
  }

  .banner-filterbar-wrapper {
    padding-inline: 24px;
  }
}

/* home step section */

.home-step-sec {
  padding-block: 200px;
}

.home-step-maintitle {
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  color: #212121;
  margin-bottom: 16px;
  line-height: 1.25em;
}

.home-step-dec {
  margin-bottom: 32px;
  line-height: 1.5em;
  text-align: center;
}

.home-step-wrapper {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  gap: 48px;
}

.home-step-img {
  border-radius: 16px;
  overflow: hidden;
}

.home-step-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.step-content-block {
  padding-top: 32px;
  padding-bottom: 64px;
  border-top: 1px solid #eee;
}

.step-content-subtitle {
  margin-bottom: 48px;
  display: block;
  font-weight: 500;
}

.step-content-icone {
  min-width: 40px;
  height: 40px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.step-content-icone img {
  width: 20px;
  height: 20px;
}

.step-content-item {
  display: flex;
  gap: 24px;
}

.step-content-title {
  color: #212121;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}

.step-content-dec {
  line-height: 1.5em;
}

@media only screen and (max-width: 1023.99px) {
  .home-step-wrapper {
    grid-template-columns: 1fr;
  }

  .home-step-img {
    order: 2;
  }

  .step-content-block {
    padding-bottom: 32px;
  }

  .home-step-maintitle {
    font-size: 36px;
  }

  .home-step-sec {
    padding-block: 120px;
  }
}

@media only screen and (max-width: 766.99px) {
  .step-content-item {
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
  }

  .step-content-subtitle {
    margin-bottom: 16px;
  }

  .home-step-sec {
    padding-block: 100px;
  }

  .step-content-title {
    font-size: 22px;
  }
}

@media only screen and (max-width: 557.99px) {
  .home-step-sec {
    padding-block: 80px;
  }

  .home-step-wrapper .btn {
    width: 100%;
  }

  .home-step-maintitle {
    font-size: 28px;
  }
}

/* video banner sec */

.video-banner-sec {
  --paddinf-tb: 100px;
  background-image: linear-gradient(180deg, transparent, #212121),
    url(../images/section/video-banner.png);
  max-width: 1420px;
  border-radius: 16px;
  margin-inline: auto;
  background-position: 50%;
  background-size: cover;
  padding-block: var(--paddinf-tb);
}

.video-banner-wrapper {
  display: flex;
  justify-content: end;
  height: calc(674px - 2 * var(--paddinf-tb));
  flex-direction: column;
}

.video-banner-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-banner-title {
  font-size: 44px;
  font-weight: 500;
  color: white;
  line-height: 1.25em;
  max-width: 420px;
}

.video-banner-right-col {
  max-width: 460px;
}

.video-banner-right-col .video-banner-dec {
  color: #eee;
  margin-bottom: 24px;
  line-height: 1.5em;
  font-weight: 500;
}

.featur-sec .btn {
  margin-top: 32px;
  margin-inline: auto;
  display: block;
  width: fit-content;
}

@media only screen and (max-width: 1023.99px) {
  .video-banner-item {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .video-banner-right-col,
  .video-banner-title {
    max-width: 100%;
  }

  .video-banner-sec {
    --paddinf-tb: 64px;
  }

  .video-banner-wrapper {
    height: calc(550px - 2 * var(--paddinf-tb));
  }
}

@media only screen and (max-width: 766.99px) {
  .video-banner-sec {
    --paddinf-tb: 48px;
  }

  .video-banner-wrapper {
    height: calc(450px - 2 * var(--paddinf-tb));
  }

  .video-banner-title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 766.99px) {
  .video-banner-title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 557.99px) {
  .video-banner-right-col .btn {
    width: 100%;
  }
}

/* featur sec */

.featur-sec {
  padding-block: 200px;
}

.featur-main-title {
  font-size: 44px;
  margin-bottom: 8px;
  color: #212121;
  font-weight: 500;
  text-align: center;
}

.featur-main-dec {
  margin-inline: auto;
  max-width: 540px;
  line-height: 1.5em;
  margin-bottom: 32px;
  text-align: center;
}

.featur-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.featur-content-details {
  position: relative;
  padding: 40px;
  min-height: 636px;
  border-radius: 16px;
  overflow: hidden;
}

.featur-content-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.featur-content-details:hover .featur-content-img {
  transform: scale(1.1);
}

.featur-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.featur-detail-wrapper {
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 48px;
}

.featur-detail-title {
  font-size: 24px;
  color: white;
  margin-bottom: 8px;
  font-weight: 500;
}

.featur-detail-dec {
  color: #eee;
  margin-bottom: 16px;
  line-height: 1.5em;
}

.top-detail-wrapper {
  display: flex;
  color: white;
  align-items: center;
  gap: 6px;
}

.item-bg-overlay {
  background-image: linear-gradient(180deg, #212121, transparent);
  opacity: 0.7;
  position: absolute;
  inset: 0%;
}

.detail-icon svg {
  width: 20px;
  height: 20px;
}

.bottom-detail-wrapper {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}

.item-details-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.item-details-row:not(:last-child) {
  border-right: 1px solid #eee;
  margin-right: 12px;
}

.divider {
  background-color: #eee;
  height: 1px;
}

.featur-bottom-detail {
  padding: 16px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
}

.detail-icon-title {
  color: black;
  font-size: 16px;
}

@media only screen and (max-width: 1023.99px) {
  .featur-sec {
    padding-block: 120px;
  }

  .featur-content-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .featur-content-details {
    min-height: 550px;
    padding: 32px;
  }

  .featur-main-title {
    font-size: 36px;
  }
}

@media only screen and (max-width: 767.99px) {
  .featur-sec {
    padding-block: 100px;
  }

  .bottom-detail-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .item-details-row:not(:last-child) {
    border-right: 0;
    margin-right: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
  }

  .item-details-row:nth-child(2):last-child {
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
  }

  .divider {
    display: none;
  }

  .featur-content-details {
    min-height: 450px;
    padding-inline: 24px;
  }
}

@media only screen and (max-width: 557.99px) {
  .featur-bottom-detail {
    width: 100%;
  }

  .featur-sec {
    padding-block: 80px;
  }

  .featur-sec .btn {
    width: 100%;
  }
}

/* wide-range-sec */

.wide-range-sec {
  padding-block: 160px;
  background-color: #f9f9f9;
  overflow: hidden;
  max-width: 1420px;
  margin-inline: auto;
  border-radius: 16px;
}

.range-contentimg-wrapper {
  display: inline-block;
}

.range-maincontent-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.range-maincontent-title {
  font-size: 44px;
  font-weight: 500;
  color: #212121;
  line-height: 1.25em;
  max-width: 460px;
}

.range-maincontent-dec {
  max-width: 460px;
  line-height: 1.5em;
}

.range-content-img {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 32px;
}

.range-item-detail {
  position: absolute;
  z-index: 1;
  inset: auto 20px 20px;
  border-radius: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 16px;
  gap: 12px;
}

.range-item-block {
  display: flex;
  align-items: center;
  gap: 6px;
}

.range-item-block:not(:last-child) {
  border-right: 1px solid #eee;
  padding-right: 12px;
}

.range-item-title {
  color: #212121;
}

.range-content-title {
  font-size: 24px;
  color: #212121;
  font-weight: 500;
  margin-bottom: 8px;
}

.range-content-dec {
  color: #838383;
  max-width: 440px;
  line-height: 1.25em;
  margin-bottom: 16px;
}

.range-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.range-content-icone svg {
  color: #212121;
  width: 24px;
  height: 24px;
}

.range-content-subtitle {
  display: inline-block;
  color: #212121;
}

.splide__track {
  overflow: visible;
}

.splide__slide {
  max-width: 534px;
}

.wide-range-sec .divider {
  margin-block: 32px;
}

.wide-range-sec .btn {
  /* margin-inline: auto;
  display: block;
  width: fit-content; */
}

.main-btn-componet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.main-prev-btn,
.main-next-btn {
  border: 1px solid #e0e0e0;
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main-prev-btn svg,
.main-next-btn svg {
  width: 16px;
  height: 24px;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.main-prev-btn:hover,
.main-next-btn:hover {
  background-color: #000;
  border: 1px solid transparent;
}

.main-prev-btn:hover svg,
.main-next-btn:hover svg {
  color: white;
}

/* .first-componet {
  display: none;
  visibility: hidden;
} */
